{% load static %}

<!-- ========== { HEADER }========== -->
<header class="fixed top-0 left-0 right-0 z-50">
  <nav class="bg-black">
    <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2">
      <div class="flex justify-between">

        <!-- logo -->
        <a href="{% url 'home' %}"
           class="mx-w-10 text-2xl font-bold capitalize text-white flex items-center">
          NewsBlog
        </a>

        <div class="flex flex-row">

          <!-- nav menu -->
          <ul class="navbar hidden lg:flex lg:flex-row text-gray-400 text-sm items-center font-bold">

            <!-- Home -->
            <li class="active relative border-l border-gray-800 hover:bg-gray-900">
              <a class="block py-3 px-6 border-b-2 border-transparent"
                 href="{% url 'home' %}">
                Home
              </a>
            </li>

            <!-- Categories -->
            <li class="dropdown relative border-l border-gray-800 hover:bg-gray-900">

              <a class="block py-3 px-6 border-b-2 border-transparent"
                 href="#">
                Categories
              </a>

              <ul class="dropdown-menu font-normal absolute left-0 right-auto top-full z-50 border-b-0 text-left bg-white text-gray-700 border border-gray-100"
                  style="min-width: 12rem;">

                {% for item in categories %}
                <li class="relative hover:bg-gray-50">
                  <a class="block py-2 px-6 border-b border-gray-100"
                     href="{% url 'category' item.id %}">
                    {{ item.name }}
                  </a>
                </li>
                {% endfor %}

              </ul>
            </li>

            <!-- Contact Us -->
            <li class="relative border-l border-gray-800 hover:bg-gray-900">
              <a class="block py-3 px-6 border-b-2 border-transparent"
                 href="{% url 'contact' %}">
                Contact Us
              </a>
            </li>

          </ul>

          <!-- search form & mobile nav -->
          <div class="flex flex-row items-center text-gray-300">

            <!-- Search dropdown -->
            <div class="search-dropdown relative border-r lg:border-l border-gray-800 hover:bg-gray-900">

              <button class="block py-3 px-6 border-b-2 border-transparent">

                <!-- Search icon -->
                <svg class="open inline-block w-5 h-5"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="currentColor">
                  <path d="M9.5 3a6.5 6.5 0 1 0 4.09 11.55l4.43 4.43 1.41-1.41-4.43-4.43A6.5 6.5 0 0 0 9.5 3Zm0 2a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9Z"/>
                </svg>

                <!-- Close icon -->
                <svg class="close hidden w-5 h-5"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="currentColor">
                  <path d="M18.3 5.71 12 12l6.3 6.29-1.41 1.42L10.59 13.41 4.3 19.71 2.89 18.3 9.18 12 2.89 5.71 4.3 4.29l6.29 6.3 1.41 1.42Z"/>
                </svg>

              </button>

              <!-- Search menu -->
              <div class="dropdown-menu absolute left-auto right-0 top-full z-50 text-left bg-white text-gray-700 border border-gray-100 mt-1 p-3"
                   style="min-width: 15rem;">

                <form method="get" action="{% url 'search' %}">

                  <div class="flex flex-wrap items-stretch w-full relative">

                    <input
                      type="text"
                      name="q"
                      class="flex-shrink flex-grow max-w-full leading-5 relative py-2 px-4 w-px border border-gray-100 text-gray-800 bg-white rounded-l"
                      placeholder="Search..."
                      aria-label="search"
                    >

                    <div class="flex -mr-px">

                      <button
                        class="flex items-center py-2 px-4 -ml-1 leading-5 text-gray-100 bg-red-600 border border-red-600 hover:text-white hover:bg-red-700 hover:ring-0 hover:border-red-700 focus:outline-none focus:ring-0"
                        type="submit">

                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="1rem"
                             height="1rem"
                             fill="currentColor"
                             viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.065.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>

                      </button>

                    </div>

                  </div>

                </form>

              </div>
            </div>

            <!-- Mobile button -->
            <div class="relative hover:bg-gray-800 block lg:hidden">

              <button type="button"
                      class="menu-mobile block py-3 px-6 border-b-2 border-transparent">

                <span class="sr-only">Mobile menu</span>

                <svg class="inline-block h-6 w-6 mr-2"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                     aria-hidden="true">

                  <path stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16">
                  </path>

                </svg>

                Menu
              </button>

            </div>

          </div>

        </div>
      </div>
    </div>
  </nav>
</header>
<!-- end header -->


<!-- Mobile menu -->
<div class="side-area fixed w-full h-full inset-0 z-50">

  <!-- bg open -->
  <div class="back-menu fixed bg-gray-900 bg-opacity-70 w-full h-full inset-x-0 top-0">

    <div class="cursor-pointer text-white absolute right-64 p-2">

      <svg class="bi bi-x"
           width="2rem"
           height="2rem"
           viewBox="0 0 16 16"
           fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">

        <path fill-rule="evenodd"
              d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
              clip-rule="evenodd">
        </path>

        <path fill-rule="evenodd"
              d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 01.708 0l-7-7a.5.5 0 000-.708z"
              clip-rule="evenodd">
        </path>

      </svg>

    </div>
  </div>

  <!-- Mobile navbar -->
  <nav id="mobile-nav"
       class="side-menu flex flex-col right-0 w-64 fixed top-0 bg-white dark:bg-gray-800 h-full overflow-auto z-40">

    <div class="mb-auto">

      <!-- navigation -->
      <nav class="relative flex flex-wrap">

        <div class="text-center py-4 w-full font-bold border-b border-gray-100">
          TAILNEWS
        </div>

        <ul id="side-menu" class="w-full float-none flex flex-col">

          <li class="relative">
            <a href="{% url 'home' %}"
               class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">
              Home
            </a>
          </li>

          <!-- Categories -->
          <li class="dropdown relative">

            <a class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50"
               href="javascript:;">
              Categories
            </a>

            <ul class="dropdown-menu block rounded rounded-t-none top-full z-50 ml-4 py-0.5 text-left bg-white dark:bg-gray-800 mb-4"
                style="min-width: 12rem">

              {% for item in categories %}
              <li class="relative">
                <a class="block w-full py-2 px-5 border-b border-gray-100 hover:bg-gray-50"
                   href="{% url 'category' item.id %}">
                  {{ item.name }}
                </a>
              </li>
              {% endfor %}

            </ul>
          </li>

          <li class="relative">
            <a href="{% url 'category' 1 %}"
               class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">
              Europe
            </a>
          </li>

          <li class="relative">
            <a href="{% url 'category' 2 %}"
               class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">
              Americas
            </a>
          </li>

          <li class="relative">
            <a href="{% url 'category' 3 %}"
               class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">
              Africa
            </a>
          </li>

          <li class="relative">
            <a href="{% url 'category' 4 %}"
               class="block py-2 px-5 border-b border-gray-100 hover:bg-gray-50">
              Asia
            </a>
          </li>

        </ul>
      </nav>
    </div>

    <!-- copyright -->
    <div class="py-4 px-6 text-sm mt-6 text-center">

      <p>
        Copyright
        <a href="{% url 'home' %}">Tailnews</a>
        - All right reserved
      </p>

    </div>

  </nav>
</div>
<!-- End Mobile menu -->